<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fact</title>
</head>
<body bgcolor="	MistyRose" >
    <h1 style="text-align:center"> Hello! Welcome to Factorial Calculator </h1>
    <form action = "factorial">
    <h2> Enter a Number : </h2> <input type= "number" name="num"><br>
        <input type="submit" name ="calculate">
    </form>
    <img src="https://www.drupal.org/files/styles/grid-3-2x/public/factorial-logo-combined%403x.png?itok=a7bMf6p5" alt="factorial symbol">
</body>
</html>